/*  Mark Farias
	Richard Kim
	IT 207
	Project
	Description: Style sheet for the group project.
*/
body {
	background-color: gainsboro;
	color: black;
	font-family: sans-serif;
	font-size: 12px;
	height: 100%;
}

table {
	border: none;
}

h1
{
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
	color: #006699;
	letter-spacing: 2px;
}

h2
{
	font-family: 'Segoe UI', Verdana;
	font-size: 16px;
	font-weight: normal;
	color: #FF7519;
	letter-spacing: 2px;
}

a:link, a:active, a:visited
{
	font-family: Verdana;
	text-decoration: underline;
	color: #993333;
}

a:hover
{
	color: #AD5C5C;
	text-decoration: none;
}

p
{
	font-size: 14px;
	margin-top: 10px;
}

.button {
	width: 75px;
}

.center {
	margin-left: auto; margin-right: auto;
}

.column_155 {
	width: 155px;
}

.column_175 {
	float: left;
	width: 175px;
}

.column_200 {
	float: left;
	width: 200px;
}

.column_600 {
	float: left;
	width: 600px;
}

.column_750 {
	float: left;
	width: 750px;
}

.column_label {
	width: 100px;
}

.column_field {
	width: 200px;
}

.clear_floats {
	clear:both;
}

.header_link {
	padding-left: 15px;
	text-decoration: none;
}

.list_element {
	padding-top: 20px;
	height: 150px; width: 950px;	
}

.list_element_feedback {
	padding-top: 5px;
	height: 50px; width: 950px;
}

.list_view {
	margin-left: auto; margin-right: auto;
	height: 100%; width: 950px;
}

.movie_title {
	font-size: 32px;
	font-weight: bold;
}

.text_center {
	text-align: center;
}

#content {
	background-color: white;
	margin-left: auto; margin-right: auto; margin-top: 4px;
	height: 100%; width: 1000px;
}

#menu {
	background-color: slategray;
	margin-left: auto; margin-right: auto;
	width: 1000px;
	text-align: center;
}

#header {
	margin-left: auto; margin-right: auto;
	width: 1000px;
	text-align: right;
}

/* CSS for Horizontal Menu */
#menu ul {
	background-color: slategray;
	display: inline-block;
	font-size: 12px; font-weight: bold;
	height: 30px; width: auto;
	list-style-type: none;
	margin:0; padding:0;
	position: relative;
	text-align: center;
}

#menu li {
	display: block; float: left;
	margin: 0; padding: 0;
}
	
#menu li a {
	display: block; float: left;
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 8px 20px 0 20px;
}
	
#menu li a:hover {	
	background-color: white;
	border-bottom: 4px solid orange;
	color: black;
	height: 22px;
}

#menu li.active a {
	background-color: white;
	border-bottom: 4px solid orange;
	color: black;
	height: 22px;
}