/*  Mark Farias
	Richard Kim
	IT 207
	Project
	Description: Style sheet for the group project.
*/
body {
	background-color: #fff;
	color: black;
	font-family: sans-serif;
	font-size: 12px;
	height: 100%;
	margin: 0px;
}

table.blue
{
	border-style: solid;
	border-width: 1px;
	border-color: #000099;
}

td.blue
{
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #000099;
	font-size: 14px;
	color: #000099;
}

h1 {
	font-family: Tahoma;
	font-size: 18px;
	font-weight: bold;
	color: #006699;
	letter-spacing: 2px;
}

h2 {
	font-family: 'Segoe UI', Verdana;
	font-size: 16px;
	font-weight: normal;
	color: #FF7519;
	letter-spacing: 2px;
}

a:link, a:active, a:visited {
	font-family: Verdana;
	text-decoration: underline;
	color: #993333;
}

a:hover {
	color: #AD5C5C;
	text-decoration: none;
}

p {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button {
	width: 75px;
}

.border_grey {
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	padding-bottom: 5px;
}

.center {
	margin-left: auto; margin-right: auto;
}

.center_vertical {
	vertical-align: text-middle;
}

.column_125 {
	width: 125px;
}

.column_155 {
	width: 155px;
}

.column_150 {
	width: 150px;
}

.column_600 {
	width: 600px;
}

.column_700 {
	width: 700px;
}

.column_label {
	width: 100px;
}

.column_field {
	width: 150px;
}

.cover_image {
	height: 150px; width: 100px;
}

.clear_floats {
	clear: both;
}

.disabled {
      -o-filter: grayscale(100%);
	  -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
	  -webkit-filter: grayscale(100%);
      filter: gray; filter: grayscale(100%);
}

.error {
	font-weight: bold;
	color: #CC0000;
}

.font_size_14 {
	font-size: 14px;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.font_disclaimer {
	font-size: 10px;
	color: #666666;
}

.font_label {
	font-family: 'Segoe UI', Verdana;
}

.font_label_bold {
	font-weight: bold;
}

.header_link {
	padding-left: 5px;
}

.link_button,
.link_button:link,
.link_button:active,
.link_button:visited,
.link_button:hover {
	background-color: red;
	color: white;
	padding: 4px 8px 4px 8px;
	text-decoration: none!important;
}

.link_horizontal {
	padding-left: 15px;
	text-decoration: none;
}

.link_next {
	float: right;
	height: 32px; width: 32px;
}

.link_prev {
	float: left;
	height: 32px; width: 32px;
}

.list_element {
	padding-bottom: 10px;
	height: 150px; width: 900px;	
}

.list_element_feedback {
	padding-top: 5px;
	height: 75px; width: 900px;
}

.list_view {
	padding: 10px;
	margin-left: auto; margin-right: auto;
	width: 950px;
}

.movie_title {
	font-size: 24px;
	font-weight: bold;
	font-family: 'Segoe UI Light', Verdana;
}

.row_solid_background {
	background-color: #002953;
	color: #ffffff;
	width: 100%;
}

.text_align_right {
	text-align: right;
}

.text_center {
	text-align: center;
}

.view {
	padding: 10px;
}

#content_outer {
	background-color: white;
	margin-top: 4px;
	height: 100%; width: 100%;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	border-bottom-color: #002953;
}

#content_inner {
	width: 900px;
	margin-left: auto; 
	margin-right: auto;
	padding-bottom: 10px;
}

#login {
	border-style: solid;
	border-width: 2px;
	border-color: #002953;
	width: 500px;
}

#menu_outer {
	background-color: #002953;
	width: 100%;
}

#menu_inner {
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
}

#header_outer {
	width: 100%;
	text-align: right;
}

#header_inner {
	margin-left: auto; 
	margin-right: auto;
	width: 1000px;
}

#banner {
	float: left;
}

#search {
	float: right;
	margin-right: 5px;
	margin-top: -30px;
}

/* CSS for Horizontal Menu */
#menu_inner ul {
	background-color: #002953;
	display: inline-block;
	font-size: 12px; font-weight: bold;
	height: 30px; width: auto;
	list-style-type: none;
	margin:0; padding:0;
	position: relative;
	text-align: center;
}

#menu_inner li {
	display: block; float: left;
	margin: 0; padding: 0;
}
	
#menu_inner li a {
	display: block; float: left;
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 8px 15px 0 15px;
}
	
#menu_inner li a:hover {	
	background-color: #6685C2;
	border-bottom: 4px solid orange;
	color: black;
	height: 22px;
}

#menu_inner li.active a {
	background-color: #6685C2;
	border-bottom: 4px solid orange;
	color: black;
	height: 22px;
}